body {
  font-family: Arial;
  margin: 0;
  background: #111;
  color: white;
}

header {
  background: #b30000;
  padding: 20px;
  text-align: center;
}

.container {
  background: #222;
  width: 320px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

button {
  background: #ff4500;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.finalizar {
  background: #28a745;
}
